@page "/categories"
@using GrpcFileGeneration.Models
@using ClientBlazor.Services.ProductCategory
@inject NavigationManager NavigationManager
@inject IProductCategoryService ProductCategoryService
@attribute [Authorize(Roles = "administrator")]

<div class="py-6">
    <section class="">
        <div class="container px-4 py-2 mx-auto">
            <EditForm Model="@category" OnValidSubmit="SaveHandler">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="p-4 mb-6 bg-white shadow rounded">
                    <label class="block text-sm font-medium mb-2" for="">Category name</label>
                    <InputText @bind-Value="category.CategoryName" class="block w-full px-4 py-3 mb-2 text-sm placeholder-gray-500 bg-white border rounded" name="">
                    </InputText>
                    <button type="submit" class="inline-block w-full md:w-auto px-6 py-3 font-medium text-white bg-indigo-500 hover:bg-indigo-600 rounded transition duration-200">
                    Save
                    </button>
                </div>
            </EditForm>
        </div>
    </section>
    
@if (categories == null)
{
    <p class="text-center">
        <em>Loading...</em>
    </p>
}
else if (!categories.Content.Categories.Any())
{
    <p class="text-center">
        <em>No Categories currenlty exist. Please add some.</em>
    </p>
}
else
{
    <section class="">
        <div class="container px-4 mx-auto">
            <div class="p-4 mb-6 bg-white overflow-y-auto shadow rounded">
                <table class="table-auto w-full">
                    <thead>
                    <tr class="text-xs text-gray-500 text-left">
                        <th class="pb-3 font-medium">Category Name</th>
                        <th class="pb-3 font-medium">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var category in categories.Content.Categories.Select((value, i) => new {value, i}))
                    {
                        <tr class="text-xs @(category.i % 2 == 0 ? "bg-gray-50" : "bg-white-50")">
                            <td class="flex py-3 px-4">
                                <div class="flex flex-wrap content-center">
                                    <p class="font-medium align-middle">@category.value.CategoryName</p>
                                </div>
                            </td>
                            <td>
                                <a class="inline-block mr-2" @onclick="() => ToEdit(category.value)">
                                    <svg width="18" height="18" viewbox="0 0 18 18" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.4999 9C16.2789 9 16.0669 9.0878 15.9106 9.24408C15.7544 9.40036 15.6666 9.61232 15.6666 9.83333V14.8333C15.6666 15.0543 15.5788 15.2663 15.4225 15.4226C15.2662 15.5789 15.0542 15.6667 14.8332 15.6667H3.16656C2.94555 15.6667 2.73359 15.5789 2.57731 15.4226C2.42103 15.2663 2.33323 15.0543 2.33323 14.8333V3.16667C2.33323 2.94565 2.42103 2.73369 2.57731 2.57741C2.73359 2.42113 2.94555 2.33333 3.16656 2.33333H8.16657C8.38758 2.33333 8.59954 2.24554 8.75582 2.08926C8.9121 1.93298 8.9999 1.72101 8.9999 1.5C8.9999 1.27899 8.9121 1.06702 8.75582 0.910744C8.59954 0.754464 8.38758 0.666667 8.16657 0.666667H3.16656C2.50352 0.666667 1.86764 0.930059 1.3988 1.3989C0.929957 1.86774 0.666565 2.50363 0.666565 3.16667V14.8333C0.666565 15.4964 0.929957 16.1323 1.3988 16.6011C1.86764 17.0699 2.50352 17.3333 3.16656 17.3333H14.8332C15.4963 17.3333 16.1322 17.0699 16.601 16.6011C17.0698 16.1323 17.3332 15.4964 17.3332 14.8333V9.83333C17.3332 9.61232 17.2454 9.40036 17.0892 9.24408C16.9329 9.0878 16.7209 9 16.4999 9ZM3.9999 9.63333V13.1667C3.9999 13.3877 4.0877 13.5996 4.24398 13.7559C4.40026 13.9122 4.61222 14 4.83323 14H8.36657C8.47624 14.0006 8.58496 13.9796 8.68649 13.9381C8.78802 13.8967 8.88037 13.8356 8.95823 13.7583L14.7249 7.98333L17.0916 5.66667C17.1697 5.5892 17.2317 5.49703 17.274 5.39548C17.3163 5.29393 17.3381 5.18501 17.3381 5.075C17.3381 4.96499 17.3163 4.85607 17.274 4.75452C17.2317 4.65297 17.1697 4.5608 17.0916 4.48333L13.5582 0.908333C13.4808 0.830226 13.3886 0.768231 13.287 0.725924C13.1855 0.683617 13.0766 0.661835 12.9666 0.661835C12.8566 0.661835 12.7476 0.683617 12.6461 0.725924C12.5445 0.768231 12.4524 0.830226 12.3749 0.908333L10.0249 3.26667L4.24156 9.04167C4.16433 9.11953 4.10323 9.21188 4.06176 9.31341C4.02029 9.41494 3.99926 9.52366 3.9999 9.63333ZM12.9666 2.675L15.3249 5.03333L14.1416 6.21667L11.7832 3.85833L12.9666 2.675ZM5.66656 9.975L10.6082 5.03333L12.9666 7.39167L8.0249 12.3333H5.66656V9.975Z"
                                              fill="#382CDD">
                                        </path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="flex flex-wrap -mx-4 items-center justify-end">
                <div class="w-full lg:w-auto px-4 flex items-center justify-center">
                    @foreach(var index in Enumerable.Range(1, categories.TotalPages))
                    {
                        <a class="cursor-pointer inline-flex mr-3 items-center justify-center w-8 h-8 text-xs @(categories.PageNumber+1 == index ? "text-white bg-indigo-500":"text-gray-500 bg-white") border border-gray-300 hover:bg-indigo-50 hover:text-gray-500 rounded" @onclick="() => GetPageElements(index)">@index</a>
                    }
                </div>
            </div>
        </div>
    </section>
}
   </div> 


@code {
    private Category category = new();
    private Page<CategoryList> categories;
    private int pageNumber;
    
    private bool isToEdit;

    private void ToEdit(Category category)
    {
        this.category = category;
        isToEdit = true;
    }
    
    protected override async Task OnInitializedAsync()
    {
        categories = await ProductCategoryService.GetAllCategoriesAsync(pageNumber);
    }

    private async Task GetPageElements(int i)
    {
        pageNumber = i-1;
        categories = await ProductCategoryService.GetAllCategoriesAsync(pageNumber);
    }

    private async Task SaveHandler()
    {
        if (isToEdit)
        {
            await ProductCategoryService.EditProductCategoryAsync(category);
        }
        else
        {
            await ProductCategoryService.AddProductCategoryAsync(category);
        }
        category = new Category();
        await OnInitializedAsync();
    }

}